@use '../assets/scss/var' as v;
@use '../assets/scss/mixin' as m;
.home {
    background-color: v.$gray;
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .slider {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: v.$radius;

        .track {
            display: flex;
            // 트렌스폼이 자주 일어난다고 미리 알려줌 (속도 최적화–힌트를 메모리한테 전달🔥)
            will-change: transform;
            img {
                width: 100%;
                flex: 0 0 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}
